<% include partials/header %>


    <div class= "ui main text container segment">
        <div class="ui huge header"> 
            <h1>The movies post or is it the music post? </h1>
        </div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                    <% posts.forEach(function(post){ %>   
                        <div class="item">
                            <div class="image">
                                    <img src="<%= post.image%>">
                            </div>
                            <div class="content">
                                <a href="/blogs/<%- post._id %>" class="header"> <%= post.title %></a>
                                <div class="meta">
                                    <span><%=post.created.toDateString() %></span>
                                </div>
                                <div class="description">
                                    <% function shorten(str, maxLength, separator = " ") { %>
                                        <% if (str.length <= maxLength) return str; %>
                                        <% return str.substring(0, str.lastIndexOf(separator, maxLength)); %>
                                    <% } %>
                                    <p><%- post.body%>... </p>    
                                </div>
                                <div class="extra">
                                    <a class="ui floated basic blue button" href="/blogs/<%- post._id %>">
                                        READ MORE
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>


            </div>
        </div>
        

            
</div>



<% include partials/footer %>